# FIREBASE CONFIGURATION
# Dapatkan nilai-nilai ini dari Firebase Console -> Project Settings -> General -> Your apps (Web app)

FIREBASE_API_KEY="AIzaSyAwkzN69l-oq8uAkXkMoe5Cgu3JB7oukIc"
FIREBASE_AUTH_DOMAIN="ormawa-utsurabaya.firebaseapp.com"
FIREBASE_PROJECT_ID="ormawa-utsurabaya"
FIREBASE_STORAGE_BUCKET="ormawa-utsurabaya.firebasestorage.app"
FIREBASE_MESSAGING_SENDER_ID="256660584608"
FIREBASE_APP_ID="1:256660584608:web:c8bba56ebd010daefa31c5"

FIREBASE_ADMIN_KEY='{ "type": "service_account", "project_id": "YOUR_PROJECT_ID", "private_key_id": "YOUR_PRIVATE_KEY_ID", "private_key": "-----BEGIN PRIVATE KEY-----\\nYOUR_PRIVATE_KEY\\n-----END PRIVATE KEY-----\\n", "client_email": "YOUR_CLIENT_EMAIL", "client_id": "YOUR_CLIENT_ID", "auth_uri": "https://accounts.google.com/o/oauth2/auth", "token_uri": "https://oauth2.googleapis.com/token", "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs", "client_x509_cert_url": "YOUR_CLIENT_X509_CERT_URL" }'
